<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Help Desk Login</title>   
    <link rel="stylesheet" href="Login.css">
</head>
<body>
    <div class="login-page">
    <div class="form">
        <form th:action="@{/Login}" th:object="${profile}" method="post">
            <label form="login-form">Login</label><br /><br />
            <input type="text" name="username" class="input-box" placeholder="Username" th:field="*{UserID}" required/>
            <input type="password" name="password" class="input-box" placeholder="password" th:field="*{Password}" required/>
            <button>Login</button>
            <p class="message">Not Registered?<a th:href="@{/Register}">Register</a></p>
        </form>
        </div>
        </div>
    </body>
</html>