<!DOCTYPE html>
<html>
<head>
    <title>Help Desk Login</title>
        <link rel="stylesheet" href="Login.css">
</head>
<body>
    <div class="login-page">
    <div class="form">
        <form>
        <label form="registration-form">Register</label>
        <input type="text" name="username" class="input-box" placeholder="Username" required/><br>
        <input type="text" name="firstName" class="input-box" placeholder="First Name" required/><br>
        <input type="text" name="lastName" class="input-box" placeholder="Last Name" required/><br>
        <input type="password" name="userpass" class="input-box" placeholder="Password" required/><br>
        <input type="text" name="useremail" class="input-box" placeholder="Email Address" required/><br>
        <input type="submit" name="signup-btn" class="btn" value="Signup"/><br>
        <p class="message">Already Registered? <a href="Login.html">Login</a></p>
        </form>
        </div>
    </div>
    </body>
</html>