<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>HelpDesk</title>
</head>
	<link href="help.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
       <ul>
        <li><a href="logout.html">Logout</a></li>
        <li><a href="#">Profile</a>
           <ul>
                <li><a href="#">Basic Information</a></li>
                <li><a href="repair.html">Repair Requests</a></li>
           </ul>
        </li>
        <li><a href="#">About Us</a></li>
       </ul>
</html>